@import "/styles/vendor/materialdesignicons.min.css";
@import "/styles/fonts.css";

:root {
	--main-color: rgb(200, 200, 200);
	--main-bg: rgb(50, 50, 50);

	--frame-bg: rgba(0, 0, 0, .25);

	--assets-bg: rgba(0, 0, 0, .4);

	--color-validate: rgb(0, 150, 0);
	--color-options: rgb(175, 100, 0);
	--color-warn: rgb(150, 0, 0);
}

* {
  background: transparent;
  border: none;
  color: var(--main-color);
  font-family: "DejaVu Sans Light", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background: var(--main-bg);
}

h1 {
  font-size: 3em;
  padding: 1em;
  text-align: center;
  text-transform: capitalize;
}

aside {
  background: var(--frame-bg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35em;
}

aside p {
  display: block;
  padding: 2em 0 1em 0;
  text-align: center;
}

form > .inputBox {
  display: inline-block;
  margin: 1em 1.5em 1.5em 1.5em;
	position: relative;
	width: 70%;
}

input,
textarea,
button {
  background: var(--assets-bg);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1em;
  font-size: 1em;
  outline: none;
}
textarea {
  height: 5em;
  margin-bottom: 0;
  resize: none;
}

input[type="text"] {
	width: 100%;
}

input[type="submit"],
button {
  cursor: pointer;
  padding: 1em;
  text-transform: capitalize;
  transition: .2s background;
}
input[type="submit"] {
  padding: 1em 2em;
}
input[type="submit"]:hover {
  background: var(--color-validate);
}

form > .inputBox > label,
form > .inputBox > span {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: .3s all;
  text-transform: capitalize;
}

form > .inputBox > label,
form > .inputBox > span,
form > .inputBox > input,
form > .inputBox > textarea {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 1em 1em 1em 2em;
  transition: .3s all;
}
form > .inputBox > span {
  padding: .95em .5em;
}

form > .inputBox > input:focus ~ label,
form > .inputBox > input:valid ~ label,
form > .inputBox > textarea:focus ~ label,
form > .inputBox > textarea:valid ~ label {
  font-weight: bold;
  font-size: 12px;
  left: -20px;
  top: -10px;
}

form > .inputBox > input:focus,
form > .inputBox > textarea:focus {
  border-color: rgb(255, 0, 0);
}

.container {
	position: absolute;
	top: .75em;
}
.container.left {
	left: .75em;
}
.container.right {
	right: .75em;
}

.container > button {
	margin: .25em;
}

.options, .undo, .edit, .warn {
  padding: .25em;
}
.edit, .warn {
	display: none;
	position: relative;
	z-index: 1;
}
.warn:hover {
  background: var(--color-warn);
}
.undo:hover, .edit:hover {
  background: var(--color-options);
}
.options:hover {
	background: var(--color-validate);
}

ul > li:hover .undo,
ul > li:hover .edit,
ul > li:hover .warn {
	display: inline;
}

ul {
  display: block;
	max-height: 15em;
	overflow: auto;
}

ul > li {
  background: rgba(255, 255, 255, .1);
  display: block;
	height: 2.8em;
  margin-top: 3px;
  position: relative;
  text-align: right;
}

ul > li > input[type="checkbox"] {
	cursor: pointer;
	position: absolute;
	left: .75em;
	top: 50%;
	transform: translateY(-50%);
	width: auto !important;
	z-index: 1;
}

ul > li > label {
	left: 0;
	padding-left: 2.25em;
  position: absolute;
  right: 1em;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  word-break: break-all;
}
ul > li:hover > label {
	padding-right: 1.75em;
}

ul > li > label > .infoHolder {
  color: rgb(130, 130, 130);
  display: none;
  font-size: .7em;
}
ul > li:hover > label > .infoHolder {
  display: block;
}

ul > li.checked {
	background: rgba(255, 255, 255, .05);
}

ul > li.checked > label > .content {
	color: rgb(255, 255, 255, .3);
	text-decoration: line-through;
}

ul > li > button {
  margin: .25em;
}

@media(min-width: 1080px) {
	aside {
    width: 1000px;
  }

	.inputBox {
    width: 83% !important;
  }
}

@media(max-width: 720px) {
	aside {
		width: 90%;
	}

	form .inputBox {
		display: block;
		width: auto;
	}

	.options, .undo, .edit, .warn {
		padding: .5em;
	}

	.container {
		position: absolute;
		top: .6em;
	}
	.container.left {
		left: .6em;
	}
	.container.right {
		right: .6em;
	}

	input {
		width: 100%;
	}

	ul > li {
		height: 3.3em;
	}
}

/**
 * END
 */
